<!DOCTYPE html>
<html>
<head>
	<title>Details page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="static/css/flag-icon.css" media="screen">
	<!-- <link rel="stylesheet" type="text/css" href="static/css/datatables.min.css" media="screen"> -->
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"> -->

	<link async rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="static/css/fontawesome.min.css" media="screen"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<!-- <script type="text/javascript" src="static/js/bootstrap.min.js"></script> -->
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="static/js/datatables.min.js"></script> -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


</head>
<body>
	<div class="header">
		<a href="/" class="logo">CompanyLogo</a>
		<div class="header-right">
			<span class="flag-icon flag-icon-gb"></span>
			<label>English</label>
			<label>David Smith</label>
			<a class="header-right" href="/">Log out</a>
		</div>
	</div>


	<div id="confirm">
		<div id="modal">
			<label style="font-size: 30px;">Proceed to an Intermediate Search?</label><br>
			<button class="yes">Yes</button>
			<button class="no">No</button>
		</div>
	</div>

	<div id="content" class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<div class="content_table row">
					
					<label class="title"><strong>Company basic information</strong></label>
					<table id="basicInfo" class="table table-bordered table-sm" cellspacing="0">
						<thead>
							<tr>
								<th class="th-sm">Type</th>
								<th class="th-sm">Value</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="width: 40%;">CR No:</td>
								<td>1196976</td>
							</tr>
							<tr>
								<td style="width: 40%;">CR No:</td>
								<td>1196976</td>
							</tr>
							<tr>
								<td style="width: 40%;">CR No:</td>
								<td>1196976</td>
							</tr>
							<tr>
								<td style="width: 40%;">CR No:</td>
								<td>1196976</td>
							</tr>
							<tr>
								<td style="width: 40%;">CR No:</td>
								<td>1196976</td>
							</tr>
							<tr>
								<td style="width: 40%;">CR No:</td>
								<td>1196976</td>
							</tr>
							<tr>
								<td style="width: 40%;">CR No:</td>
								<td>1196976</td>
							</tr>
							<tr>
								<td style="width: 40%;">CR No:</td>
								<td>1196976</td>
							</tr><tr>
								<td style="width: 40%;">CR No:</td>
								<td>1196976</td>
							</tr><tr>
								<td style="width: 40%;">CR No:</td>
								<td>1196976</td>
							</tr><tr>
								<td style="width: 40%;">CR No:</td>
								<td>1196976</td>
							</tr>
						</tbody>

					</table>

				</div>

				<div class="content_table row">
					<label class="title"><strong>Company name history</strong></label>
					<table id="history" class="table table-bordered table-sm" cellspacing="0">
						<thead>
							<tr>
								<th class="th-sm">Effective Date</th>
								<th class="th-sm">Name Used</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr><tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr><tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr><tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr><tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr><tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="content_table row">
					<label class="title"><strong>Company filings</strong></label>
					<table id="filings" class="table table-bordered table-sm" cellspacing="0">
						<thead>
							<tr>
								<th class="th-sm">Document Name</th>
								<th class="th-sm">Filing Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr><tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr><tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr><tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr><tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr><tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>
							<tr>
								<td style="width: 40%;">sdfasdf</td>
								<td>sdfasdf</td>
							</tr>

						</tbody>
					</table>
				</div>

			</div>
			<div class="col-4">
				<label class="title"><strong>Indicators</strong></label>
				<div class="row justify-content-around">
					<div class="indicator col-5">
						<div style="display: inline-block;">
							Active Status :
							<p>{{}}</p>
						</div>

						<span><i class="fas fa-check ok custom"></i></span>
						
					</div>

					<div class="indicator col-5">
						<div style="display: inline-block;">
							Winding Up Mode :
							<p>{{}}</p>
						</div>

						<span><i class="fas fa-check ok custom"></i></span>
						
					</div>

					<div class="indicator col-5">
						<div style="display: inline-block;">
							Remarks :
							<p>{{}}</p>
						</div>

						<span><i class="fas fa-check ok custom"></i></span>
						
					</div>

					<div class="indicator col-5">
						<div style="display: inline-block;">
							Register of Charges :
							<p>{{}}</p>
						</div>

						<span><i class="fas fa-check ok custom"></i></span>
						
					</div>

					<div class="indicator col-5">
						<div style="display: inline-block;">
							Active Status
							<p>{{}}</p>
						</div>

						<span><i class="fas fa-check ok custom"></i></span>
						
					</div>

					<div class="indicator col-5">
						<div style="display: inline-block;">
							
						</div>
						
					</div>				
					
				</div>

				<div class="row" style="float: right; margin-top: 40px; margin-right: 15px;">
					<button class="btn_back">Back</button>
					<button class="btn_next">Next</button>
				</div>

				<form id="back_form" action="/search" method="post">
					<input type="hidden" name="company_name" value="{{ search_word }}">
				</form>

			</div>
		</div>
	</div>

	<div class="footer">
		<div class="part">
			<div class="col-2">
				<p class="help">Help &amp; Support</p>
				<p class="help">Access a comprehensive</p>
				<p class="help">help section ></p>

			</div>
			<div class="col-2">
				<p>Basic Search</p>

				<input id="btn_basic" type="button" name="" class="btn btn-primary form-control" value="In Progress">
			</div>
			<div class="col-2" style="border-left: 1px solid #eee">
				<p>Intermediate Search</p>

				<input id="btn_intermediate" type="button" name="" class="btn btn-secondary form-control" value="Not Started">
			</div>
			<div class="col-2" style="border-left: 1px solid #eee">
				<p>Advanced Search</p>

				<input id="btn_advanced" type="button" name="" class="btn btn-secondary form-control" value="Not Started">
			</div>
			<div class="col-2" style="border-left: 1px solid #eee">
				<p>Report</p>

				<input id="btn_report" type="button" name="" class="btn btn-secondary form-control" value="Not Started">
			</div>
		</div>

		<p>Legal Privacy Notice Cookie Policy Accessibility 2020 AMP Credit Technologies</p>
	</div>

	<script type="text/javascript">

		$(document).ready(function(){
			$('#basicInfo').DataTable({
				
				"searching": false,
				'autoWidth' : true,
				'scrollY' : "10vh"
			});

			// $('.dataTables_length').addClass('bs-select');
		});

		$(document).ready(function(){
			$('#history').DataTable({
				
				"searching": false,
				'autoWidth' : true,
				'scrollY' : "10vh"
			});

			// $('.dataTables_length').addClass('bs-select');
		});

		$(document).ready(function(){
			$('#filings').DataTable({
				
				"searching": false,
				'autoWidth' : true,
				'scrollY' : "10vh"
			});

			// $('.dataTables_length').addClass('bs-select');
			let confirm_height = window.innerHeight - 248;
			$('#confirm').css({"height":confirm_height+"px"})

			$('.btn_back').on('click', function(){
				
				$("#back_form").submit();
			});

			$('.btn_next').on('click', function(){
				$('#confirm').show();
			});

			$('.yes').on('click', function(){
				$('#btn_basic').removeClass('btn-primary');
				$('#btn_basic').addClass('btn-success');
				$('#btn_basic').val('Complete');

				$('#btn_intermediate').removeClass('btn-secondary');
				$('#btn_intermediate').addClass('btn-primary');
				$('#btn_intermediate').val('In Progress');

				$('#confirm').hide();
			});
			$('.no').on('click', function(){
				$('#confirm').hide();
			});

			$('#btn_intermediate').on('click', function(){
				$('#confirm').show();
			});


		});
	</script>
</body>
</html>