<!DOCTYPE html>
<html>
<head>
	<title>Details page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="static/css/flag-icon.css" media="screen">
	<!-- <link rel="stylesheet" type="text/css" href="static/css/datatables.min.css" media="screen"> -->
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"> -->

	<link async rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="static/css/fontawesome.min.css" media="screen"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<!-- <script type="text/javascript" src="static/js/bootstrap.min.js"></script> -->
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="static/js/datatables.min.js"></script> -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" src="static/js/custom.js"></script>
</head>
<body>
	<div id="preloader">
	  <div id="loader"></div>
	</div>

	<div class="header">
		
		<div class="header-right">
			<span class="flag-icon flag-icon-gb"></span>
			<label>English</label>
			<label>David Smith</label>
			<a class="header-right" href="/logout">Log out</a>
		</div>
	</div>
	

	<div id="confirm">
		<div id="modal">
			<label style="font-size: 30px;">Proceed to an Intermediate Search?</label><br>
			<button class="yes">Yes</button>
			<button class="no">No</button>
		</div>
	</div>

	<div id="content" class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-xl-7">
				<div class="row justify-content-between">
					<div class="col-12">
						<div class="content_table row">
					
							<label class="title"><strong>Company basic information</strong></label>
							<table id="basicInfo" class="table table-bordered table-sm">
								<thead>
									<tr>
										<th class="th-sm">Type</th>
										<th class="th-sm">Value</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>CR No: </td>
										<td>{{ result_basic['CR_no']}}</td>
									</tr>
									<tr>
										<td>Company Name: </td>
										<td>{{result_basic['company_name']}}</td>
									</tr>
									<tr>
										<td>Company Type: </td>
										<td>{{result_basic['company_type']}}</td>
									</tr>
									<tr>
										<td>Date of Incorporation:</td>
										<td>{{result_basic['date_of_incorporation']}}</td>
									</tr>
									
								</tbody>

							</table>

						</div>
					</div>

					<div class="col-12">
						<div class="content_table row">
							<label class="title"><strong>Company name history</strong></label>
							<table id="history" class="table table-bordered table-sm">
								<thead>
									<tr>
										<th class="th-sm">Effective Date</th>
										<th class="th-sm">Name Used</th>
									</tr>
								</thead>
								<tbody>
									{% for item in result_history %}
									<tr>
										<td>{{ item['effective_date'] }}</td>
										<td>{{ item['used_name'] }}</td>
									</tr>
									{% endfor%}
								</tbody>
							</table>
						</div>	
					</div>
				</div>

				<div class="row">
					<div class="content_table row">
						<div class="col-12">
							<label class="title"><strong>Company filings</strong></label>
							<table id="filings" class="table table-bordered table-sm" cellspacing="0">
								<thead>
									<tr>
										<th class="th-sm">Document Name</th>
										<th class="th-sm">Filing Date</th>
									</tr>
								</thead>
								<tbody>
									{% for item in result_filings %}
									<tr>
										<td>{{ item['document_name'] }}</td>
										<td>{{ item['filing_date'] }}</td>
									</tr>
									{% endfor %}

								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>

			<div class="col-12 col-xl-4">
							
				<label class="title"><strong>Indicators</strong></label>
				<div class="row justify-content-around">
					<div class="col-6">
						<div class="indicator row">
							<div class="col">
								Active Status :
								<br>
								{{ result_basic['active_status'] }}
							</div>
							<div class="mt-auto mb-auto">
								<i class="fas fa-check ok custom"></i>
							</div>
						</div>
					</div>

					<div class="col-6">
						<div class="indicator row">
							<div class="col">
								Winding Up Mode :
								<br>
								{{ result_basic['windingup_mode'] }}
							</div>
							<div class="mt-auto mb-auto">
								<i class="fas fa-check ok custom"></i>
							</div>
						</div>
					</div>

					<div class="col-6">
						<div class="indicator row">
							<div class="col">
								Remarks :
								<br>
								{{ result_basic['remarks'] }}
							</div>
							<div class="mt-auto mb-auto">
								<i class="fas fa-check ok custom"></i>
							</div>
						</div>
					</div>

					<div class="col-6">
						<div class="indicator row">
							<div class="col">
								Register of Charges :
								<br>
								{{ result_basic['register_of_charges'] }}
							</div>
							<div class="mt-auto mb-auto">
								<i class="fas fa-check ok custom"></i>
							</div>
						</div>
					</div>

					<div class="col-6">
						<div class="indicator row">
							<div class="col">
								Important Note :
								<br>
								{{ result_basic['important_note'] }}
							</div>
							<div class="mt-auto mb-auto">
								<i class="fas fa-check ok custom"></i>
							</div>
						</div>
					</div>			
					
				</div>
				<form role="form">					
					<input id="cr_no" type="hidden" name="cr_no" value="{{ cr_no }}">
				</form>

				<div id="intermediate_result" class="row">
					{% if error %}
                        <p class="error"><strong>Warning: </strong> {{ error }}
                    
                    {% else %}

                    <div class="col-12" style="padding: 1rem;">
                    	<label class="title"><strong>Registered office address</strong></label>
						<textarea id="address" disabled style="width: 100%;"></textarea>	
                    </div>

                    <div class="col-12" style="padding: 1rem;">
                    	<label class="title"><strong>Share Capital</strong></label>
						<input type="text" id="capital" disabled style="width: 100%;">	
                    </div>

                    <div class="col-12" style="padding: 1rem;">
                    	<label class="title"><strong>List of Directors</strong></label>
                    	<table id="directors" class="table table-bordered table-sm"></table>
                    </div>
					
					<div class="col-12" style="padding: 1rem;">
						<label class="title"><strong>Particulars of Company Secretary</strong></label>
						<textarea type="text" id="secretary" disabled style="width: 100%;"></textarea>
					</div>
					
					<div class="col-12" style="padding: 1rem;">
						<label class="title"><strong>Particulars of receiver and manager</strong></label>
						<textarea type="text" id="receiver" disabled style="width: 100%;"></textarea>
					</div>

					<div class="col-12" style="padding: 1rem;">
						<label class="title"><strong>Particulars of Liquidator</strong></label>
						<textarea type="text" id="liquidator" disabled style="width: 100%;"></textarea>
					</div>

					{% endif %}
				</div>

				<div class="row" style="float: right; margin-top: 40px; margin-right: 15px;">
					<button class="btn_back">Back</button>
					<button class="btn_next">Next</button>
				</div>

				<form id="back_form" action="/search" method="POST">
					<input type="hidden" name="company_name" value="{{ search_word }}">
				</form>

			</div>
		</div>
	</div>

	<div class="footer">
		<div class="part">
			<div class="col-2">
				<p class="help">Help &amp; Support</p>
				<p class="help">Access a comprehensive</p>
				<p class="help">help section ></p>

			</div>
			<div class="col-2">
				<p>Basic Search</p>

				<input id="btn_basic" type="button" name="" class="btn btn-primary form-control" value="In Progress">
			</div>
			<div class="col-2" style="border-left: 1px solid #eee">
				<p>Intermediate Search</p>

				<input id="btn_intermediate" type="button" name="" class="btn btn-secondary form-control" value="Not Started">
			</div>
			<div class="col-2" style="border-left: 1px solid #eee">
				<p>Advanced Search</p>

				<input id="btn_advanced" type="button" name="" class="btn btn-secondary form-control" value="Not Started">
			</div>
			<div class="col-2" style="border-left: 1px solid #eee">
				<p>Report</p>

				<input id="btn_report" type="button" name="" class="btn btn-secondary form-control" value="Not Started">
			</div>
		</div>

		<p>Legal Privacy Notice Cookie Policy Accessibility</p>
	</div>

</body>
</html>